*.pyc
.ipynb_checkpoints/
.vscode/
doc/_build
./venv
./.venv
# Jupyter Widget
node_modules/
dist/
static/
*.egg-info*
build/
.DS_Store
.idea/
tests/.coverage
tests/coverage.xml

venv
.venv

# toy notebook
playground.ipynb